body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom, orange, yellow, red);
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    text-align: center;
    text-decoration: underline;
}

.para{
    font-size: 40px;
}